body {
    background-color: #1A1A1A ;
}

#image-logo {
    height: 200px;
    width: autp;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.login {
    background-color: #e6dcdc;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 330px;
    height: 450px;

    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
}

#inputEmail {
    outline: none;
    border: none;

    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px 16px;
    background: grey;      
    color: #e5e5e5;     
    transition: all 0.2s ease;
}
#inputEmail:focus {
    border-color: #0b090e;
    box-shadow: 0 0 8px #000000;
    transform: scale(1.02);
}
#text-email {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#inputSenha {
    outline: none;
    border: none;

    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px 16px;
    background: grey;      
    color: #e5e5e5;     
    transition: all 0.2s ease;
}
#inputSenha:focus {
    border-color: #000000;
    box-shadow: 0 0 8px #000000;
    transform: scale(1.02);
}
#text-senha {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#texto h1 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: center center;
}

#texto h1:hover {
    transform: scale(1.1);
}

#buton {
    margin-top: 32px;
}

#butao {
    background: grey;
    color: #1a1a1a;

    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 3px 3px;

    font-weight: 600;
    letter-spacing: 0.5px;

    cursor: pointer;

    transition: all 0.25s ease;
}

#butao:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.97);
}